Câu 1:

In [ ]:
kingdoms =['Bacteria', 'Protozoa', 'Chromista','Plantae', 'Fungi','Animalia']
#câu a
print(kingdoms[0])
#câu b
print(kingdoms[5])
#câu c
print(kingdoms[:3])
#câu d
print(kingdoms[2:5])
#câu e
print(kingdoms[4:])
#câu f
print(kingdoms[1:0])

Bacteria
Animalia
['Bacteria', 'Protozoa', 'Chromista']
['Chromista', 'Plantae', 'Fungi']
['Fungi', 'Animalia']
[]

Câu 2:

In [ ]:
kingdoms =['Bacteria', 'Protozoa', 'Chromista','Plantae', 'Fungi','Animalia']
#câu a
print(kingdoms[-6])
#câu b
print(kingdoms[-1])
#câu c
print(kingdoms[-6:-3])
#câu d
print(kingdoms[-4:-1])
#câu e
print(kingdoms[-2:])
#câu f
print(kingdoms[-1:-2])

Bacteria
Animalia
['Bacteria', 'Protozoa', 'Chromista']
['Chromista', 'Plantae', 'Fungi']
['Fungi', 'Animalia']
[]

Câu 3:

In [ ]:
appointments = ['9:00', '10:30', '14:00', '15:00', '15:30']
appointments.append('16:30')
appointments

['9:00', '10:30', '14:00', '15:00', '15:30', '16:30']

Câu 4:

In [ ]:
ids =[4353, 2314, 2956, 3382, 9362, 3900]
#Câu a 
ids.remove(3382)
print(ids)
#Câu b
ids.index(9362)
print(ids)
#Câu c
ids.insert(ids.index(9362) + 1, 4499)
print(ids)
#Câu d
ids = ids + [5566, 1830]
print(ids)
#Câu e
ids.reverse()
print(ids)
#Câu f
ids.sort()
print(ids)

[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 3900]
[4353, 2314, 2956, 9362, 4499, 3900]
[4353, 2314, 2956, 9362, 4499, 3900, 5566, 1830]
[1830, 5566, 3900, 4499, 9362, 2956, 2314, 4353]
[1830, 2314, 2956, 3900, 4353, 4499, 5566, 9362]

Câu 5:

In [ ]:
alkaline_earth_metals = ['metals—beryllium','magnesium', ' calcium',' strontium','barium','radium']
#Câu a
alkaline_earth_metals = [4, 12, 20, 38, 56, 88]
#Câu b
print(alkaline_earth_metals[5], alkaline_earth_metals[-1])
#Câu c
print(len(alkaline_earth_metals))
#Câu d
print(max(alkaline_earth_metals))

88 88
6
88

Câu 6:

In [ ]:
#Câu a
temps = [25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
print(temps)
#Câu b
temps.sort()
print(temps)
#Câu c
cool_temps = temps[0:2]
print(cool_temps)
warm_temps = temps[2:]
print(warm_temps)
#Câu d
temps_in_celsius = cool_temps + warm_temps
print(temps_in_celsius)

[25.2, 16.8, 31.4, 23.9, 28, 22.5, 19.6]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6]
[22.5, 23.9, 25.2, 28, 31.4]
[16.8, 19.6, 22.5, 23.9, 25.2, 28, 31.4]

Câu 7:

In [ ]:
def same_first_last(L : list ) -> bool:
  if len(L) >= 2 and L[0] == L[-1]:
    print(True)
  else:
    print(False)

same_first_last([3, 4, 2, 8, 3])
same_first_last(['apple', 'banana', 'pear'])
same_first_last([4.0, 4.5])

True
False
False

Câu 8:

In [ ]:
def is_longer(L1: list, L2: list) -> bool:
  if len(L1) > len(L2):
    print(True)
  else:
    print(False)
is_longer([1, 2, 3], [4, 5])
is_longer(['abcdef'], ['ab', 'cd', 'ef'])
is_longer(['a', 'b', 'c'], [1, 2, 3])

True
False
False

Câu 9:

In [ ]:
values = [0, 1, 2]
values[1] = values

Câu 10:

In [ ]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#A
print(units[0])
#B
print(units[-1] or units[1])
#C
print(units[0][0])
#D
print(units[1][0])
#E
print(units[0][1:])
#F
print(units[1][0:2])

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']

Câu 11:

In [ ]:
units =[['km', 'miles', 'league'],['kg', 'pound', 'stone']]
#A
print(units[-2])
#B
print(units[-1])
#C
print(units[-2][-3])
#D
print(units[-1][-3])
#E
print(units[-2][-2:])
#F
print(units[-1][:-1])

['km', 'miles', 'league']
['kg', 'pound', 'stone']
km
kg
['miles', 'league']
['kg', 'pound']